# Compiled class file
*.class

# Log file
*.log

# Package file
*.jar
*.war
*.ear

# Maven target directory
target/

# IntelliJ IDEA files
.idea/
*.iml

# NetBeans files
nbproject/

# Eclipse files
.classpath
.project
.settings/

# macOS specific files
.DS_Store

# Other build files
*.swp